# Build Outputs
main
core-banking

# OpenSSL Certificates
certs/

# Logs & Temporary Execution
logs/

# Local Environment Variables
.env
.env.local

# CI / Test Outputs
coverage.out
*.test

# Go Workspaces
vendor/

# OS & IDE
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Generated Mocks
mocks/
