# ─── Database ───
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=

# ─── Redis ───
REDIS_PORT=
REDIS_HOST=

# ─── Kafka ───
KAFKA_EXTERNAL_PORT=
KAFKA_UI_PORT=

# ─── Service Ports ───
AIS_HTTP_PORT=
AIS_GRPC_PORT=
PIAS_HTTP_PORT=
CBS_GRPC_PORT=
NS_HTTP_PORT=

# ─── Observability ───
TEMPO_PORT=
LOKI_PORT=
GRAFANA_PORT=
OTEL_EXPORTER_OTLP_ENDPOINT=

# ─── Notification ───
WEBHOOK_URL=
