go 1.25.6

use (
	./services/account-information-service
	./services/account-issuance-service
	./services/core-banking-system
	./services/notification-service
	./services/payment-initiation-acquiring-service
	./proto
)
